name: Check Dependencies

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  dependencies-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.91 # Also defined in workspace Cargo.toml
          override: true

      - name: Install dependencies
        run: ./scripts/dependencies.sh

      - name: Find unused dependencies
        run: cargo +nightly udeps
