name: Check Dependencies

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  dependencies-check:
    runs-on: rust:1.89 # Also defined in workspace Cargo.toml

    steps:
      - uses: actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - run: cargo install cargo-udeps --locked

      - run: cargo udeps $SCOPE
