name: Check Dependencies

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  dependencies-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.90 # Also defined in workspace Cargo.toml

      - run: cargo install cargo-udeps --locked

      - run: cargo udeps $SCOPE
