name: Generate Documentation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_DOC_SCOPE: --all-features

jobs:
  documentation-generate:
    runs-on: rust:1.89 # Also defined in workspace Cargo.toml

    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly

    steps:
      - uses: actions/checkout@v4

      - name: Generate documentation
        run: ./scripts/documentation-generate.sh
