name: Validate Pull Request Title
on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
      - edited
permissions: read-all

jobs:
  pr-title-validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Check PR title
        uses: amannn/action-semantic-pull-request@v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
