name: Validate pull request title

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - edited

permissions: read-all

jobs:
  pr-title-validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Check PR title
        uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
