name: Check Semantic Versioning

on:
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always

jobs:
  version-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: dtolnay/rust-toolchain@1.91 # Also defined in workspace Cargo.toml

      - uses: Swatinem/rust-cache@v2

      - name: Check semver compatibility - lib
        uses: obi1kenobi/cargo-semver-checks-action@v2
        with:
          package: lib
