name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_SCOPE: --all-features --all-targets

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain:
          - stable
          - 1.91 # Also defined in workspace Cargo.toml
          - beta
          - nightly

    steps:
      - uses: actions/checkout@v5

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true

      - uses: Swatinem/rust-cache@v2

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest, cargo-llvm-cov # Also defined in scripts/test.sh

      - run: cargo llvm-cov nextest --workspace $RUST_SCOPE
