name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_SCOPE: --all-features --all-targets

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toolchain:
          - stable
          - 1.91 # Also defined in workspace Cargo.toml
          - beta
          - nightly

    steps:
      - uses: actions/checkout@v5

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true

      - name: Build
        run: cargo build --verbose $RUST_SCOPE

      - name: Run tests
        run: cargo test --verbose $RUST_SCOPE
